<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <p>Hi,</p>
    <p>You need to verify your email.</p>
    <p> Please click the link below to verify your email</p>
    <a href='{{link}}'>Verify Email</a>
  </body>
</html>