@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #800;
  /* --secondary-color: ; */
  /* --light-color: ; */
  /* --mid-color: ; */
  /* --dark-color: ; */
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}
