@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --primary-color: #ad00ff;
  /* --secondary-color: ; */
  --light-color: #f4f4f4;
  --mid-color: #ccc;
  --mid-dark-color: #777;
  --dark-color: #333;
  --max-width: 1250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

/* Utilities */
.truncate {
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Headings */
.heading {
  font-size: 2rem;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading h1 {
  font-weight: 300;
}

/* Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-block {
  width: 100%;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

/* Forms */
.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--mid-color);
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: inherit;
}

.form-group label {
  font-weight: bold;
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-group input:placeholder-shown {
  font-style: italic;
}

.form-group .link {
  color: var(--primary-color);
  font-size: 0.9rem;
  margin: 0 0 5px 3px;
}

.form-group .link-left {
  display: block;
  text-align: left;
}

.form-group .link-description {
  font-size: 0.9rem;
  color: var(--mid-dark-color);
}

/* Header Component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  /* border-bottom: 1px solid var(--mid-color); */
  margin-bottom: 3rem;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header .header-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
}

.header .logo .header-link {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--primary-color);
}

/* Card Component */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  /* Card Variables */
  --card-height: 400px;
  --card-width: 280px;
  --card-image-content-max-width: 250px;
  --card-image-content-max-height: 250px;
}

.card-container {
  border: 1px solid var(--mid-color);
  margin: 5px;
  padding: 10px;
  width: var(--card-width);
  min-width: var(--card-width);
  height: var(--card-height);
  min-height: var(--card-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-image-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.card-image {
  position: relative;
  width: var(--card-image-content-max-width);
  height: var(--card-image-content-max-height);
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-image:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-progress-description-container {
  width: var(--card-image-content-max-width);
  text-align: left;
  flex: 1;
}

.card-progress-bar {
  background-color: black;
  margin-bottom: 10px;
}

.card-progress-bar > div:first-child {
  background-color: var(--primary-color);
  height: 10px;
  width: 0%;
}

.card-title {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1px;
}

.card-creator {
  font-weight: 300;
  margin-bottom: 10px;
  color: var(--mid-dark-color);
}

.card-description {
  max-width: inherit;
}

.card-description > span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
