@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: #c040ff;
  /* --secondary-color: ; */
  --light-color: #f4f4f4;
  --mid-color: #ccc;
  --dark-color: #333;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--mid-color);
  margin-bottom: 3rem;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 30px;
}
